https://github.com/getsentry/sentry-redmine/archive/ccf4686515995d530842639625f54da712e3c21b.zip
https://github.com/getsentry/sentry-auth-github/archive/master.zip
https://github.com/getsentry/sentry-opsgenie/archive/master.zip
